<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>museo.it</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet"  th:href="@{/css/aggiungiEvento.css}">
</head>
<body>
	<a href="/admin/homePageGestisci" class="indietro">Indietro</a>
    <section>

                <h1>Nuovo Evento</h1>
                 
                     <form id="form" class="codehim-form" th:action="@{/admin/aggiungiEvento}" th:object="${evento}" method="POST" enctype="multipart/form-data">                                                            
                        
                             <div class="form-group">
                                 <label th:text="#{richiesta.evento.nome}">
               						...                  
                                 </label>
                                 <input type="text" class="cm-input"  th:field="*{nome}" placeholder="Tra 2 e 100 caratteri"/>
                                 <span class="help-block" th:errors="*{nome}"></span>
                             </div>    
                               
                             <div class="form-group" th:classappend="${#fields.hasErrors('data')} ? has-error : ''">
               					<label th:text="#{richiesta.evento.data}">
               						...                  
                                 </label>
                                 <input type="date" class="cm-input" id="data" th:field="*{data}" placeholder="Tra 2 e 100 caratteri"/>
                                 <span class="help-block" th:errors="*{data}"></span>
                             </div>    
                                                          
                              <label th:text="#{richiesta.evento.immagine}">
									...
								</label>
								<input type="file" name="foto" class="file-selector" accept="image/png, image/jpeg" />

                             <label th:text="#{richiesta.evento.descrizione}">
									...
							</label>
								<input type="text" th:field="*{descrizione}"  class="cm-input" placeholder="Tra 2 e 100 caratteri"/>
								
							<label th:text="#{richiesta.evento.orario}">
									...
							</label>
								<input type="text" th:field="*{orario}"  placeholder="00:00" class="cm-input"/>
			
							
                         <div class="form-actions">
                            <button type="submit" class="btn-login  gr-bg" th:text="#{button.salva}">Invia</button>
                         </div>
                     </form>
               
    </section>
</body>
</html>


