<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>riflessi.it</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet"  th:href="@{/css/aggiungiPiatto.css}">
</head>
<body>
	<a href="/admin/homePageGestisci" class="indietro">Indietro</a>
    <section>

                <h1>Nuovo Piatto</h1>
                 
                     <form class="codehim-form" th:action="@{/admin/aggiungiPiatto}" th:object="${piatto}" method="POST" enctype="multipart/form-data">                                                            
                        
                             <div class="form-group">
                                 <label th:text="#{richiesta.piatto.nome}">Nome
               						...                  
                                 </label>
                                 <input type="text" class="cm-input"  th:field="*{nome}" placeholder="Tra 2 e 100 caratteri"/>
                                 <span class="help-block" th:errors="*{nome}"></span>
                             </div>    
                               
                             <div class="form-group">
               					<label th:text="#{richiesta.piatto.descrizione}">Descrizione
               						...                  
                                 </label>
                                 <input type="text" class="cm-input"  th:field="*{descrizione}" placeholder="Tra 2 e 100 caratteri"/>
                                 <span class="help-block" th:errors="*{descrizione}"></span>
                             </div>    

							<label th:text="#{richiesta.piatto.immagine}">
									...
								</label>
								<input type="file" name="foto" class="file-selector" accept="image/png, image/jpeg" />
						
                         <div class="form-actions">
                            <button type="submit" class="btn-login  gr-bg" th:text="#{button.salva}">Invia</button>
                         </div>
                     </form>
               
    </section>
</body>
</html>