<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"><head>
    <title>Eventi riflessi</title>
    <link rel="stylesheet" href="/css/eventi.css">
</head>
<body>
<main>
	<div class="logo">
			<a th:href="@{/}">
				<img class="logo" th:src="@{/img/logoPiccolo.png}" alt="">
			</a>
	</div>
	
	<h1>Eventi</h1>
</main>
		<div th:each="evento, iter : ${eventi}">
	<div th:if="${iter.odd}">
			<img class="foto1" th:src="@{'/img/' + *{evento.immagine}}" height="550" width="550" align="left">
			<p class="nomepiatto1" th:text="${evento.nome}"></p>
			<br>
			<p class="descrizione-piatto1" th:text="${evento.descrizione}"></p>
			<br>
			<span class="info">Data: <span th:text="${evento.data}"></span></span>
			<br>
			<span class="info"> Orario: <span th:text="${evento.orario}"></span></span>
			<br>
	</div>	
		<div th:if="${iter.even}">
			<img class="foto2" th:src="@{'/img/' + *{evento.immagine}}" height="550" width="550" align="right">
			<p class="nomepiatto2" th:text="${evento.nome}"></p>
			<br>
			<p class="descrizione-piatto2" th:text="${evento.descrizione}"></p>
			<br>
			<p class="info2">Data: <span th:text="${evento.data}"></span></p>
			<br>
			<p class="info2"> Orario: <span th:text="${evento.orario}"></span></p>
			<br>
	</div>	

	</div>

</body></html>
