<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"><head>
    <title>Riflessi restaurant</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div class="logo">
			<a href="/" data-async>
				<img class="logo" th:src="@{/img/logoPiccolo.png}" alt="">
			</a>
	</div>
	<div class="containerBox">
		<div class="menu">
			<a href="/" class="menuTitolo" data-async>
				<h2>Menù</h2>
			</a>
		</div>
		<div class="eventi">
			<a href="/" class="locationTitolo" data-async>
				<h2>Eventi</h2>
			</a>
		</div>
		<div class="staff">
			<a href="/" class="staffTitolo" data-async>
				<h2>Staff</h2>
			</a>
		</div>
		<div class="location">
			<a href="/" class="locationTitolo" data-async>
				<h2>Location</h2>
			</a>
		</div>
	</div>
</body></html>