<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"><head>
    <title>Location riflessi</title>
    <link rel="stylesheet" href="/css/location.css">
</head>
<body>
	<div class="logo">
			<a th:href="@{/}">
				<img class="logo" th:src="@{/img/logoPiccolo.png}" alt="">
			</a>
	</div>
		<img class="foto1" th:src="@{/img/location (1).jpg}" height="426" width="648">
		
		<img class="foto2" th:src="@{/img/location (3).jpg}" height="426" width="640">
<section>
  <div class="container">
    <div class="left"></div>
    <div class="right">
      <div class="content">
        <h1>Location</h1>
        <p>Riflessi è un ristorante con vista mare sul lungomare di Santa Marinella, che vanta di un pesce fresco e di ottima qualità</p>
      </div>
    </div>
  </div>
</section>
	<img class="foto3" th:src="@{/img/location.jpg}" height="426" width="640">
		<img class="foto4" th:src="@{/img/location (2).jpg}" height="426" width="700">
	
</body></html>