<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="it">

<head>
	
	<title>riflessi.com</title>
	<link rel="stylesheet" href="/css/login.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<main>
		<div class="logo">
			<a th:href="@{/}">
				<img class="logo" th:src="@{/img/logoPiccolo.png}" alt="">
			</a>
		</div>
		<header class="ScriptHeader">
			<div class="rt-container">
				<div class="col-rt-12">
					<div class="rt-heading">
						<h1>Login</h1>
					</div>
				</div>
			</div>
		</header>

		<section>
			<div class="rt-container">
				<div class="col-rt-12">
					<div class="Scriptcontent">


						<form th:action="@{/login}" method="post" class="codehim-form">
							<div class="form-title">
								<div class="user-icon gr-bg">
									<i class="fa fa-sign-in"></i>
								</div>
								<h2>Login</h2>
							</div>

							<label for="username"><i class="fa fa-user"></i> Username:</label>
							<input type="text" id="username" name="username" class="cm-input"
								placeholder="Inserisci username">



							<label for="pass"><i class="fa fa-lock"></i> Password:</label>
							<input id="pass" type="password" name="password" class="cm-input"
								placeholder="Inserisci password">

							<button type="submit" class="btn-login  gr-bg">Login</button>




						</form>
					</div>
				</div>
			</div>
		</section>
</main>

</html>