<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="https://www.thymeleaf.org"><head>
    <title>Menu riflessi</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
	<main>
		<div class="logo">
			<a th:href="@{/}">
				<img class="logo" th:src="@{/img/logoPiccolo.png}" alt="">
			</a>
		</div>
		<a href="/pdf/menuRiflessi.pdf" download>download</a>
			
		<div class="titolo">
			<h1>Menù</h1>
			<p class="descrizione">Menu fantastico</p> 
		</div>

	</main>
	
	<div class="sotto-titolo">
	<h2>Il Menù</h2>
	<p class="descrizione2">Un piccolo tuffo nel mare dei sapori dei nostri piatti</p>
	<p class="descrizione2">Un viaggio mistico ed eccitante al punto giusto</p>
	</div> 
	
	<div th:each="piatto, iter : ${piatti}">
	<div th:if="${iter.odd}">
			<img class="foto1" th:src="@{'/img/' + *{piatto.immagine}}" height="400" width="550" align="left">
			<p class="nomepiatto1" th:text="${piatto.nome}">Fritto misto</p>
			<br>
			<p class="descrizione-piatto1" th:text="${piatto.descrizione}">o frat ce sta de tutti vie vie viette a piglia u perdon</p>
	</div>	
		<div th:if="${iter.even}">
			<img class="foto2" th:src="@{'/img/' + *{piatto.immagine}}" height="400" width="550" align="right">
			<p class="nomepiatto2" th:text="${piatto.nome}">Fritto misto</p>
			<br>
			<p class="descrizione-piatto2" th:text="${piatto.descrizione}">o frat ce sta de tutti vie vie viette a piglia u perdon</p>
			<br>

	</div>	

	</div>

</body></html>