<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"><head>
    <title>Staff riflessi</title>
    <link rel="stylesheet" href="/css/staff.css">
</head>
<body>
	<div class="logo">
			<a th:href="@{/}">
				<img class="logo" th:src="@{/img/logoPiccolo.png}" alt="">
			</a>
	</div>
		<img class="foto1" th:src="@{/img/ristorante (1).jpg}" height="" width="">
		
		<img class="foto2" th:src="@{/img/ristorante (3).jpg}" height="" width="">
<section>
  <div class="container">
    <div class="right">
      <div class="content">
        <h1>Staff</h1>
       <ul>
        <li><p>Chef Giovanni Rana <br> A rega faccio delli gnocci cor culo che ti dico fermate </p></li>
        <li><p>Chef Rubbbio <br> Er miglior caminiosta che te poi mangia to faccio io</p></li>
      </ul>
      </div>
    </div>
  </div>
</section>
	<img class="foto3" th:src="@{/img/ristorante (2).jpg}" height="" width="">
	<img class="foto4" th:src="@{/img/ristorante (4).jpg}" height="" width="">
	<div class="prova">
		<a th:href="@{/}">
			<h3>Torna indietro</h3>
	</div>
</body></html>