*{
	 margin: 0;
 	 padding: 0;
 	 box-sizing: border-box;
}

body{
	margin:0;
	margin-bottom: 300px;
	font-family: Libre Baskerville;
	font-weight: 300;
	
}

main{
	height:800px;
	padding:50px;
	margin:auto;
	min-width: 460px;
	position:relative;
	z-index: 2;
	background-image: url(../img/eventi.jpg); ;
	margin-bottom: 300px;
	box-shadow: 3px 2px 2px 0px rgba(51,51,51,0,5);
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover ;
	background-size: cover;
}

main .logo{
	margin-top: 1%;
}

main .logo a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding:2% 1%;
    margin:100;
}	

h1 {
  text-align: center;
	font-size: 85px;
	font-family: Libre Baskerville;
	font-style: italic;
	margin-top: 15%;
}


.info{
	font-size: 20px;
	font-style: italic;
	margin-left: 2%;
}

.nomepiatto1 {
	font-size: 50px;
	font-style: italic;
	color: darkblue;
	margin-left: 50%;
	margin-top: 15%;
	font-family: Libre Baskerville;
	
}

.descrizione-piatto1 {
	font-size: 30px;
	font-style: italic;
	margin-left: 50%;
}

.foto1{
	margin-left: 12%;
	margin-top: -8%;
}


.nomepiatto2 {
	font-size: 50px;
	font-style: italic;
	color: darkblue;
	margin-right: 50%;
	margin-top: 20%;
	text-align: right;
	
}

.descrizione-piatto2 {
	font-size: 30px;
	font-style: italic;
	margin-right: 50%;
	text-align: right;
}

.info2{
	font-size: 20px;
	font-style: italic;
	text-align: right;
	margin-right: 50%;
}

.foto2{
	margin-right: 12%;
	margin-top: -10%;
}
