* {
  margin: 0;
  padding: 0;
}

:root {
  --secondary-color: darkblue;
  --contrast-color: white;
}

body{
	background-color: white;
	background-image: url(../img/homePageTerrazza.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
.logo a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.containerBox{
	padding-left: 5.55555556%;
    padding-right: 5.55555556%;
    text-align: center;
    padding: 23% 8%;
    top: 50%;
    color:white;
    position:relative;
    margin:auto;
    font-family: Verdana;
    column-count: 3;
    text-align: justify;
    background-color: none;
    justify-content: space-around;

}

.menu a{
	text-decoration: none;
	color:white;
}

.menu a h2{
	font-weight: bold;
	background-color: none;
	font-size:70px;
	display:block;
	text-transform: uppercase;
	text-decoration-color: white;
}

.location a{
	text-decoration: none;
	color:white;
}
.location a h2{
	font-weight: bold;
	background-color: none;
	font-size:70px;
	display:block;
	text-transform: uppercase;
}

.eventi a{
	text-decoration: none;
	color:white;
}
.eventi a h2{
	font-weight: bold;
	background-color: none;
	font-size:70px;
	display:block;
	text-transform: uppercase;
}
.title {
  overflow: hidden;
  height: auto;
}


@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}