* {
  margin: 0;
  padding: 0;
}

:root {
  --secondary-color: darkblue;
  --contrast-color: white;
}

body{
	background-color: white;
	background-image: url(../img/homePageTerrazza1.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

.logo{
	margin-top: 1%;
}
.logo a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding:2%;
    margin:100;
}

.containerBox{
    text-align: center;
    top: 50%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    column-count: 4;
    justify-content: center;
    align-items: center;
	padding:18% 5% 0% 0%;
	margin:1%;
	column-width: 10px;
}

.menu{
	box-shadow: 0px 10px 10px -10px rgba(255,255,255,0.4);
	transition:all 2s;
}
.menu:hover{
	box-shadow: 0px 10px 10px -10px rgba(25, 181, 254, 1);
	transform: translateY(-7px) ;
}
.menu a{
	text-decoration: none;
	color:white;
}

.menu a h2{
	font-weight: bold;
	background-color: none;
	font-size:75px;
	display:block;
	text-transform: uppercase;
	text-decoration-color: white;
	}

.location{
	box-shadow: 0px 10px 10px -10px rgba(255,255,255,0.4);
	transition:all 2s;
}

.location:hover{
	box-shadow: 0px 10px 10px -10px rgba(25, 181, 254, 1);
	transform: translateY(-7px) ;
}
.location a{
	text-decoration: none;
	color:white;
}
.location a h2{
	font-weight: bold;
	background-color: none;
	font-size:75px;
	display:block;
	text-transform: uppercase;
}

.eventi{
	box-shadow: 0px 10px 10px -10px rgba(255,255,255,0.4);
	transition:all 2s;
}
.eventi:hover{
	box-shadow: 0px 10px 10px -10px rgba(25, 181, 254, 1);
	transform: translateY(-7px) ;
}
.eventi a{
	text-decoration: none;
	color:white;
}
.eventi a h2{
	font-weight: bold;
	background-color: none;
	font-size:75px;
	display:block;
	text-transform: uppercase;
}

.staff{
	box-shadow: 0px 10px 10px -10px rgba(255,255,255,0.4);
	transition:all 2s;
}
.staff:hover{
	box-shadow: 0px 10px 10px -10px rgba(25, 181, 254, 1);
	transform: translateY(-7px) ;
}

.staff a{
	text-decoration: none;
	color:white;
}
.staff a h2{
	font-weight: bold;
	background-color: none;
	font-size:75px;
	display:block;
	text-transform: uppercase;
}
.title {
  overflow: hidden;
  height: auto;
}


@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}