*{
	margin: 0;
	padding: 0
}


body{
        font-family:  'Times New Roman', Times, serif;
        background-color:white;    
        background-image: url(../img/login.jpg);;
        background-repeat: no-repeat;
        background-size:cover;
        height:1100px;
}
	
	
.logo{
	margin-top: 1%;
}

.logo a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding:2% 1%;
    margin:100;
}

.codehim-form{
        max-width: 400px;
        min-height: 400px;
        box-sizing: border-box;
        background: skyblue;
        box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin:  190px auto 0 auto;
        padding: 25px;
        color: black;    
    }
    
.cm-input{
        display: block;
        box-sizing: border-box;
        padding: 10px;
        width: 100%; 
        margin: 15px auto;
        border-radius: 20px;
        border: 2px solid #ccc;
    }
    
.cm-input:focus{
        outline: 0;
        border-color: #f9cb81;
    }
    
    
    .gr-bg{
        background: white;
    }

    .btn-login{
        display: block;
        width: 50%;
        padding: 10px;
        border: 0;
        color: black;
        border-radius: 20px;
        cursor: pointer;
        margin-left:25%;
        position:relative;
        margin-top:20%;
    }
    
    .btn-login:focus{
        outline: 0;
    }
    
    .btn-login:hover{
        opacity: 0.8;
        transition: .3s;
    }
    
    .form-title{
        padding:1px;
        text-align: center;
        position: relative;
        margin-bottom: 35px;
    }
    
.form-title h2{
        color: black;
    }
    
.form-title .user-icon
{
        position: absolute;
        border:1px solid black;
        background-color:skyblue;
        font-size: 42px;
        color: black;
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border-radius: 45px;
        top: -60px;
        left: -45px;
}
 
a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}



a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all .35s;
}

a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}